*{
	margin:0;
	padding:0;
}
body {
	text-align:center;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}

#header {
    width: 100%;
    float: left;
    min-height: 100px;
}

#menu {
    width: 100%;
    float: left;
}

#left {
    width: 150px;
    float:left;
}

#container {
	width: 700px;
    float: left;
}

#right {
    width: 150px;
    float:left;
}

#footer {
    width: 100%;
    float: left;

}
